<form method="POST" class="mt-5" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">Название книги</label>
        <input type="text"
               value="<%= book.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание книги</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDesc"
        ><%= book.description %></textarea>
    </div>
    <div class="form-group">
        <label for="inputautor">Автор книги</label>
        <input type="text"
               value="<%= book.authors %>"
               name="authors"
               class="form-control"
               id="inputautor">
    </div>

    <div class="form-group">
        <label for="bookAdd">Загрузить книгу</label>
        <input type="file" 
               class="form-control-file" 
               name="fileBook"
               id="bookAdd">
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Добавить книгу в библиотеку</button>
    </div>
</form>